name: Deploy to Production Server

on:
  push:
    branches:
    - master

jobs:
  deploy:
    env:
      CI: false

    name: Deploy build files to server
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Use Node.js v14
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'

    - uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
        
    - name: Copy files to server
      uses: appleboy/scp-action@master
      with:
        host: ec2-13-127-239-35.ap-south-1.compute.amazonaws.com
        username: root
        KEY: ${{ secrets.KEY }}
        port: 22
        Script: |
          cd /var/www/html/jenkins
          git pull origin master
          git status
          npm install
          pm2 restart easio
